body{
	font-family: Roboto;
	background: #005AA7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background-color: #fff;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background-color: #f7f7f7;
}

ul li span{
	background-color: #e74c3c;
	line-height: 40px;
	text-align: center;
	margin-right: 20px;
	width: 0px;
	opacity: 0;
	color: white;
	display: inline-block;
	transition: 0.2s linear;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}

input{
	background-color: #f7f7f7;
	font-size: 18px;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #c3c3c3;
	outline: none;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background-color: #fff;
	border: 3px solid #2980b9;
	color: #2980b9;
	outline: none;
}

#container{
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed{
	color: gray;
	text-decoration: line-through;
}

h1 svg{
	float: right;
}

/*backbar*/
.back-bar {
    background-color: #000;
    display: flex;
    padding: 15px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
}
.rounded {
    border-radius: .25rem;
}
.back-bar a {
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
    text-decoration: none;
}
.back-bar a span{
	float: left;
	margin-top: 7px;
}
.back-bar a svg {
    border: 1px solid #fff;
    padding: 10px;
    font-size: .6rem;
    margin-right: 5px;
    border-radius: 50%;
    float: left;
}